<body>
    <div>전체 주문 보기</div>
    <div>배송 완료 주문</div>
    <div>배송 중 주문</div>
    <div>배송 전 주문</div>
    <div>상품 등록</div>
    <div>상품 삭제</div>
    <div>상품 수정</div>
    <div>재고 수정</div>
    <div>상품 보기</div>
    <!-- 정렬 기능 -->
</body>
