<link rel="stylesheet" href="/css/index.css" />
<div class="login-container">
    <button onclick="googleLogin()" class="google-login-btn">
        <img src="/img/web_neutral_sq_na.svg" alt="Google logo">
        Google로 로그인
    </button>
</div>
<script>
    function logout() {
        if (confirm('로그아웃 하시겠습니까?')) {
            window.location.href = '/api/auth/logout';
        }
    }
</script>