<body>
    <button onclick="googleLogin()">구글 소셜 로그인</button>
    <button onclick="redirectProfile()">프로필</button>
    <button onclick="gotoregister()">가입추가정보</button>
    <button onclick="logout()">로그아웃</button>
    <form name="form_chk" id="form_chk" method="post">
        <input type="hidden" id="m" name="m" value="service"/ >
        <input type="hidden" id="token_version_id" name="token_version_id" value=""/ >
        <input type="hidden" id="enc_data" name="enc_data" value=""/>
        <input type="hidden" id="integrity_value" name="integrity_value" value=""/>
        <button onclick="fnPopup();"> CheckPlus 안심본인인증 Click</button>
    </form>
</body>
<script>
    function googleLogin() {
        window.location.href = '/api/auth/google';
    }
    function redirectProfile() {
        window.location.href = '/profile';
    }
    function gotoregister() {
        window.location.href = '/createUser';
    }
    function logout() {
        if (confirm('로그아웃 하시겠습니까?')) {
            window.location.href = '/api/auth/logout';
        }
    }
    function fnPopup(){
        window.open('https://nice.checkplus.co.kr/CheckPlusSafeModel/service.cb', 'popupChk', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
        document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/service.cb";
        document.form_chk.target = "popupChk";
        document.form_chk.submit();
    }

</script>
<!-- 소셜로그인 구현
자동으로 회원가입
사용자가 기입해야될 정보 주소 이름 우편번호 개인정보 수집에 관한 동의
admin 로그인 버튼 따로 만들어놔야됨 -> 소셜로그인과 연계 가능? -->
