<body>
    <div>내 정보</div>
    <button onclick="deleteUser()">회원 탈퇴</button>
    <button onclick="redirectModifyPage()">회원 정보 수정</button>
    <button onclick="">주문 내역 확인</button>
</body>
<script>
    $(document).ready(function(){
        //내 정보 불러와서 div 내정보에 쏴주기
    })
</script>