<link rel="stylesheet" href="/css/profile.css">
<script>
    $(document).ready(function () {
        getMyInfo()
    });
</script>

<div class="profile-container" id="profile-container">

</div>
<div class="button-container">
    <button onclick="redirectModifyPage()">회원 정보 수정</button>
    <!-- <button onclick="">주문 내역 확인</button> -->
    <button onclick="deleteUser()">회원 탈퇴</button>
</div>
